<div class="container mt-5">
  <h2>Rental</h2>
  <div class="mb-3">
    <label for="rentaiId" class="form-label">Rental ID</label>
    <input type="text" class="form-control" id="rentaiId" placeholder="id">
  </div>
  <div class="mb-3">
    <label for="rentaldate" class="form-label">Rental date</label>
    <input type="date" class="form-control" id="rentaldate" placeholder="rental date">
  </div>
  <div class="mb-3">
    <label for="returndate" class="form-label">Return date</label>
    <input type="date" class="form-control" id="returndate" placeholder="return date">
  </div>
  <div class="mb-3">
    <label for="duedate" class="form-label">Due Date</label>
    <input type="date" class="form-control" id="duedate" placeholder="Due date">
  </div>
  <div class="mb-3">
    <label for="totalcost" class="form-label">Total cost</label>
    <input type="email" class="form-control" id="totalcost" placeholder="totalcost">
  </div>
  <div class="d-flex">
    <button>Add</button>
    <button>Update</button>
    <button>Edit</button>
    <button>search</button>
  </div>
  
</div>