<div class="container mt-5">
    <h2>Hardwere items</h2>
    <div class="mb-3">
      <label for="rentaiId" class="form-label">Item id</label>
      <input type="text" class="form-control" id="rentaiId" placeholder="id" [(ngModel)]="item.id">
    </div>
    <div class="mb-3">
      <label for="rentaldate" class="form-label">Name</label>
      <input type="text" class="form-control" id="rentaldate"  [(ngModel)]="item.name">
    </div>
    <div class="mb-3">
      <label for="returndate" class="form-label">Rental Per day</label>
      <input type="text" class="form-control" id="returndate" [(ngModel)]="item.rentalPreDay">
    </div>
    <div class="mb-3">
      <label for="duedate" class="form-label">Fine per day</label>
      <input type="text" class="form-control" id="duedate" [(ngModel)]="item.finePerDay">
    </div>
    <div class="mb-3">
      <label for="totalcost" class="form-label">Availibility</label>
      <input type="text" class="form-control" id="totalcost" [(ngModel)]="item.availability">
    </div>
    <div class="d-flex">
      <button (click)="add()">Add</button>
      <button (click)="update(id)">Update </button>
      <button (click)="delete(id)">Delete</button>
      <button (click)="search(id)">search</button>
    </div>
    
  </div>
