<div class="container mt-5">
    <h2>Rental Details</h2>
    <div class="mb-3">
      <label for="rentaiId" class="form-label">Item id</label>
      <input type="text" class="form-control" id="rentaiId" placeholder="id" [(ngModel)]="detail.id">
    </div>
    <div class="mb-3">
      <label for="rentaldate" class="form-label">Total Cost</label>
      <input type="text" class="form-control" id="rentaldate" placeholder="total cost" [(ngModel)]="detail.totalItemCost">
    </div>
    <div class="mb-3">
        <label for="rentaldate" class="form-label">Quantity</label>
        <input type="text" class="form-control" id="rentaldate" placeholder="Quantity" [(ngModel)]="detail.Quantity">
      </div>
    
    <div class="d-flex">
      <button (click)="add()">Add</button>
      <button (click)="delete">Delete</button>
      <button (click)="edit">Edit</button>
      <button (click)="search">search</button>
    </div>
    
  </div>
